.container main {
    padding-bottom: 100px;
    padding-top: 100px;
}

.confirmation-box {
    width: 80%;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background: var(--red-landing);
    color: var(--white-main);
    /* box-shadow: 2; */
    padding-bottom: 1em;
    border-radius: 5em;
}

.confirmation-box form {
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    /* background: var(--red-landing) */
}

.confirmation-box form h4 {
    font-weight: 500;
    font-size: 3.5rem;
}

.confirmation-box form p {
    font-size: 2.7rem;
}

.confirmation-box form button {
    outline: none;
    padding: 1em;
    font-size: 2rem;
    background: var(--header-buttons);
    color: white;
    border: none;
    border-radius: 0.7em;
    cursor: pointer;
    font-weight: 600;
}

.confirmation-box form button:hover {
    background: var(--hover-red-button);
}

.confirmation-box h1 {
    font-weight: 500;
    font-size: 3.5rem;
    color: var(--white-main);
    padding: 0.2em;
    border-bottom: 0.05em solid white
}

.confirmation-box h2 {
    font-size: 4rem;
    color: var(--red-landing);
    padding: 1em;
    border-radius: 0.4em;
    /* border: 0.1em solid white; */
    background: rgb(242, 242, 242);
}

.confirmation-box h2 i {
    margin: 0 0.2em;
    color: black
}

.confirmation-box a {
    font-style: none;
    font-size: 3rem;
    text-decoration: none;
    color: var(--white-main);
    padding: 1em;
}

.confirmation-box a span {
    font-weight: 800;
    text-decoration: underline;
}