html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    font-family: 'Rubik', sans-serif;
}

:root {
    --red-landing: #8f1b04;
    --header-buttons: #621101;
    --white-main: #FFFFFF;
    --gray-background: #ececec;
    --gray-button: #cccccc;
    --gray-footer: #403638;
    --hover-red-button: rgb(80, 14, 14);
    --hover-white-button: rgb(240, 240, 240);
}


/*Esto es del oboarding*/

.introjs-tooltip.introjs-bottom-left-aligned{
    background:white !important;
    color:black;
    font-size:3rem;
}

.introjs-progressbar {
    background: var(--gray-button);
}
.introjs-button.introjs-nextbutton.introjs-donebutton{
background:var(--header-buttons);
outline:none;
border:none;
color:white;
font-weight:300;
}

.introjs-button.introjs-nextbutton {
    background: var(--header-buttons);
    outline: none;
    border: none;
    color: white;
    font-weight: 300;
}
.introjs-button.introjs-prevbutton {
    background: var(--header-buttons);
    outline: none;
    border: none;
    color: white;
    font-weight: 300;
}

    introjs-button.introjs-prevbutton.introjs-disabled {
        outline: none;
        border: none;
        color: white;
        font-weight: 300;
    }
.introjs-tooltiptext {
    font-size: 2rem;
}

.introjs-skipbutton {
    color: black;
    font-size: 4rem;
}
.active{
    background:var(--gray-button) !important;
}
.my-owl-carousel {
    width: 80%;
    margin: 0 auto;
    padding-top: 8em;
}

.owl-stage-outer.owl-height {
    height: 209px !important;
}

.owl-item,
.owl-item.cloned {
    height: 209px !important;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    font-size: 4rem;
    margin-top: 0;
    outline: none;
    background: none;
    transition: color 100ms ease-in-out, transform 150ms ease;
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
    color: var(--red-landing);
    transform: scale(1.2);
    background: none;
}

.owl-theme .owl-nav {
    margin-top: 0;
}

a.image-menu img {
    transition: transform .2s ease-in-out, filter 400ms ease;
    cursor: pointer;
}

a.image-menu img:hover {
    transform: scale(1.01);
    filter: grayscale(100%);
}


/* .cards {
    width: 100%;
    /* margin: 0 auto; */


/* display: flex;
justify-content: center;
flex-flow: row wrap; */


/*align-items:stretch;*/


}
*/
/* .cards .card {
    width: 45%;
    margin-right: 4%;
    min-height: 300px;
    margin-top: 5em;
    background: var(--white-main);
    display: flex;
} */

/* .cards .card a {
    width: 100%;
    text-align: center;
}

.cards .card a img {
    width: 90%;
} */
.container main {
    background: url("../Images/Background/MenuBackground.png");
    background-size: 500px;
    background-position: 100% 50%;
    background-color: #ececec;
    background-repeat: no-repeat;
    /* transition: none;
        background: none;
        background-size: 100%;
        background-position: 100%;
        background-color: #ececec;
        background-repeat: no-repeat;
        transition: none;*/
}
.container main .cards-container {
    min-height: 600px;
    background: white;
}
.container main .cards-container>h1 {
    /* margin: 0 auto; */
    /* margin: 0; */
    
    font-weight: 800;
    /* font-style: italic; */
    
    border-radius: 0.2em;
    color: white;
    background: black;
    font-size: 3rem;
    width: 100%;
}
.hidden-card-content h1 {
    font-size: 3rem !important;
    margin: 0 auto;
}
.not-found-message {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container main .cards-container .not-found-message h1 {
    font-size: 3.5rem;
}
.not-found-message img {
    width: 25%;
}
.hidden-card-content h2 {
    font-size: 1.7rem;
    text-align: center;
}
.hidden-card-content h3 {
    font-size: 1.5rem;
}
.menu-items-filter-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 5em;
    /* justify-content: space-around; */
}
.menu-items-filter-container .filter-bar {
    flex-basis: 25%;
    display: block;
    min-height: 100%;
    /* justify-content: flex-start; */
    /* flex-direction: column;
    align-items: center; */
    /* background: white; */
    /* margin-right: 4em; */
    
    padding: 0 4em;
    /* box-shadow: -3px 2px 40px 9px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: -3px 2px 40px 9px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: -3px 2px 40px 9px rgba(0, 0, 0, 0.45); */
}
.menu-items-filter-container .filter-bar h1 {
    font-size: 3rem;
    /* margin: 0;
 
    margin-bottom: 1em; */
    
    position: sticky;
    top: 120px;
}
.range {
    position: sticky;
    height: 80px;
    top: 170px;
    width: 50%;
    background: var(--red-landing);
    border-radius: 10px;
    padding: 0 65px 0 45px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* position: relative; */
}
.range .slider-value {
    width: 100%;
    height: 1rem;
    position: relative;
}
.range .slider-value span {
    position: absolute;
    height: 45px;
    width: 45px;
    background: none;
    text-align: center;
    font-weight: 500;
    top: -40px;
    color: white;
    font-size: 1.8rem;
    left: 50%;
    transform: translateX(-50%) scale(0);
    transform-origin: bottom;
    transition: transform 0.2s ease-in-out;
    line-height: 55px;
    z-index: 2;
}
.range .slider-value span.show {
    transform: translateX(-50%) scale(1);
}
.range .slider-value span::after {
    position: absolute;
    content: "";
    height: 45px;
    width: 45px;
    left: 50%;
    background: var(--red-landing);
    transform: translateX(-50%) rotate(45deg);
    border: 3px solid #fff;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    z-index: -1;
}
.range .field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.range .field .value {
    position: absolute;
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
}
.range .field .value.left {
    left: -22px;
}
.range .field .value.right {
    right: -43px;
}
.range .field input {
    -webkit-appearance: none;
    height: 5px;
    width: 100%;
    background: #ddd;
    border-radius: 10px;
    outline: none;
    border: none;
}
.range .field input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: black;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
}
.range .field input::-moz-range-progress {
    background: var(--red-landing);
}
.price-field .cards-container {
    flex-basis: 75%;
}
@media screen and (max-width:1750px) {
    .menu-items-filter-container .filter-bar h1 {
        font-size: 2.5rem;
        top: 100px;
    }
    
    .owl-stage-outer.owl-height {
        height: 300px !important;
    }
    
    .owl-item,
    .owl-item.cloned {
        height: 300px !important;
    }
}
@media screen and (max-width:1400px) {
    .hidden-card-content h1 {
        font-size: 2.5rem !important;
    }
    
    .hidden-card-content h2 {
        font-size: 1.7rem;
    }
    
    .hidden-card-content h3 {
        font-size: 1.2rem;
    }
    
    .container main .cards-container .cards div.card {
        height: 200px;
    }
    
    .menu-items-filter-container .filter-bar h1 {
        top: 120px;
    }
    
    .range {
        top: 195px;
    }
}
@media screen and (max-width:1250px) {
    .menu-items-filter-container {
        flex-direction: column;
    }
    
    .menu-items-filter-container .filter-bar h1 {
        text-align: center;
    }
    
    .container main .cards-container {
        padding: 0;
    }
    
    .menu-items-filter-container .filter-bar {
        justify-content: center;
        padding-bottom: 1.5em;
        padding-right: 0;
        padding-left: 0;
    }
    
    .range {
        margin: 0 auto;
    }
}
@media screen and (max-width:900px) {
    .container main .cards-container .not-found-message h1 {
        font-size: 3rem;
    }
    
    .not-found-message img {
        width: 40%;
    }
    
    .hidden-card-content h1 {
        text-align: center;
        font-size: 2.5rem !important;
        margin: 0.2em auto;
    }
    
    .hidden-card-content h2 {
        font-size: 1.7rem;
        text-align: center;
        margin: 0.2em auto;
    }
    
    .hidden-card-content h3 {
        font-size: 1.2rem;
        text-align: center;
        margin: 0.2em auto;
    }
    
    .cards .card section.right-card button {
        font-size: 1.8rem;
    }
    
    .cards .card {
        background: white !important;
    }
    
    .container main .cards-container .cards div.card {
        width: 45%;
    }
    
    .container main .cards-container .cards div.card img {
        width: 100px;
        height: 180px;
        ;
    }
}
@media screen and (max-width:850px) {
    /*  .container main {
        background: none;
    }*/
    
    .owl-stage-outer.owl-height {
        height: 500px !important;
    }
    
    .cards .card section.right-card h1 {
        font-size: 2.6rem;
    }
    
    .cards .card section.right-card p {
        font-size: 1.5rem;
    }
    
    .cards .card section.right-card h2 {
        font-size: 2rem;
    }
    /*.cards .card {
        background: white !important;
    }*/
}
@media screen and (max-width:600px) {
    .owl-stage-outer.owl-height {
        height: 400px !important;
    }
    
    .my-owl-carousel {
        width: 100%;
        margin: 0;
    }
    
    .container main .cards {
        flex-flow: column wrap;
    }
    
    .container main .cards-container .cards div.card {
        width: 100%;
        height: 400px;
    }
    
    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev {
        font-size: 4rem;
        margin: 0.4em;
        width: 30%;
        background: var(--red-landing);
        color: var(--white-main)
    }
    
    .owl-carousel .owl-nav button.owl-next:hover,
    .owl-carousel .owl-nav button.owl-prev:hover {
        background: var(--header-buttons);
        transform: scale(1.0);
        color: var(--white-main);
    }
    
    main .cards-container h1 {
        font-size: 2.5rem;
        margin: 1em auto;
        margin-bottom: 0;
    }
    
    .container main .cards-container .not-found-message {
        margin-top: 5em;
    }
    
    .container main .cards-container .not-found-message h1 {
        font-size: 2.7rem;
    }
    
    .not-found-message img {
        width: 45%;
    }
}
@media screen and (max-width:400px) {
    .container main .cards-container .cards div.card {
        width: 100%;
        height: 275px;
    }
    
    .container main .cards-container .not-found-message h1 {
        font-size: 2.2rem;
    }
    
    .not-found-message img {
        width: 45%;
    }
    
    .owl-stage-outer.owl-height {
        height: 250px !important;
    }
    
    .menu-items-filter-container .filter-bar h1 {
        position: static;
    }
    
    .menu-items-filter-container .filter-bar {
        width: 100%;
    }
}