<footer>
    <div class="back-to-top">
        <i class="fas fa-arrow-alt-circle-up"></i>
    </div>

    <!-- <hr style="width:100%"> -->
    <div class="footer-bottom">
        <section class="left-footer-bottom">
            <!-- <h1>Nikkei</h1> -->

            <div class="contact-box">
                <i class="fas fa-phone-alt"></i>
                <a href="tel:556120992461">556120992461</a>

            </div>
            <div class="contact-box">
                <i class="fas fa-map-marker-alt"></i>
                <a href="https://www.google.com/maps/place/Nikkei+Bras%C3%ADlia/@@-15.818883,-47.8371697,17z/data=!3m1!4b1!4m5!3m4!1s0x935a235b0c9ac2d5:0x194fc5519c56ac7a!8m2!3d-15.8188002!4d-47.8349778?hl=en"> Sces Trecho 02 Conjunto 32, Brasília</a>

            </div>
            <div class="contact-box">
                <i class="fas fa-envelope"></i>
                <a href="mailto: NikkeiSushi@gmail.com">NikkeiSushi@gmail.com</a>
            </div>
        </section>
        <section class="right-footer-bottom">
            <h1>Sobre nosotros</h1>
            <p>
                Contamos con el mejor servicio de reserva y la mejor atención que podrás recibir jamás. Visita Nikkei, contamos con 50 años de experiencia, el mejor restaurante de sushi en todo Brasilia
            </p>

            <div class="social-media">
                <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/"> <i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/"> <i class="fab fa-instagram"></i></a>
            </div>

        </section>
    </div>
    <h1>2021 Nikkei. Todos los derechos reservados</h1>
</footer>
