

@section Style{
    <link rel="stylesheet" href="/Stylesheets/info.css">
}

<main>
    <section class="image-header">
        <img src="/Images/Background/NikkeiOutside.png" alt="">
    </section>

    <div class="info-block">
        <section class="section-image">
            <img src="/Images/Background/NikkeiOutside.jpg" alt="">
        </section>

        <section class="section-text identity">
            <h1>
                ¿Quiénes somos?
            </h1>
            <p>
                Nikkei es un restaurante 5 estrellas dedicado a servir el mejor pescado en todo Brasil desde hace más de 20 años, hecho para satisfacer el gusto y apetito de todas las personas que vengan a visitarlo.
            </p>
            <p>Contamos con el mejor servicio de reserva y la mejor atención que podrás recibir jamás.</p>


        </section>
    </div>
    <div class="info-block">
        <section class="section-text schedule">
            <h1>
                Horarios
            </h1>
            <p>
                <span>Lunes </span> de <span>19h</span> a <span>0h</span>
            </p>
            <p> <span>Martes</span> a <span>Jueves </span> de <span>12h</span> a <span>15h  </span>y de <span>19h  </span>a <span>12h </span></p>

            <p><span>Viernes</span> de <span>12h</span> a <span>15h</span> y de <span>19h </span> a <span>1h</span></p>
            <p> <span>Sábado </span>de <span>12h</span> a <span>1h</span></p>
            <p> <span>Domingo </span>de <span>12h</span> a <span>0h</span></p>
        </section>
        <section>
            <img src="/Images/Background/NikkeiOutside4.jpg" alt="">
        </section>


    </div>
    <div class="info-block ">
        <section>

            <img src="/Images/Background/NikkeiOutside3.jpg" alt="">
        </section>

        <section class="section-text location">
            <h1>
                Ubicación
            </h1>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d959.679828435464!2d-47.83526263453528!3d-15.818747505970961!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a235b0c9ac2d5%3A0x194fc5519c56ac7a!2sNikkei%20Bras%C3%ADlia!5e0!3m2!1sen!2smx!4v1618352306359!5m2!1sen!2smx"
                    width="90%" height="450" style="border:0;" allowfullscreen="true" loading="lazy"></iframe>
            <!-- <iframe src="https://www.google.com/maps/d/embed?mid=1tlZ2nLT3yXqhgZbTrInz5JNK0_B1xw2Q" width="640" height="480"></iframe> -->
        </section>
    </div>

</main>