    html {
        font-size: 62.5%;
        box-sizing: border-box;
    }
    
    body {
        width: 100%;
        padding: 0;
        margin: 0;
        box-sizing: inherit;
        font-family: 'Rubik', sans-serif;
    }
    
     :root {
        --red-landing: #8f1b04;
        --header-buttons: #621101;
        --white-main: #FFFFFF;
        --gray-background: #ececec;
        --gray-button: #cccccc;
        --gray-footer: #403638;
        --hover-red-button: rgb(80, 14, 14);
        --hover-white-button: rgb(240, 240, 240);
    }
    /*Esto es del modal*/
    
    .my-owl-carousel {
        width: 80%;
        margin: 0 auto;
        padding-top: 8em;
    }
    
    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev {
        font-size: 4rem;
        margin-top: 0;
        outline: none;
        background: none;
        transition: color 100ms ease-in-out, transform 150ms ease;
    }
    
    .owl-carousel .owl-nav button.owl-next:hover,
    .owl-carousel .owl-nav button.owl-prev:hover {
        color: var(--red-landing);
        transform: scale(1.2);
        background: none;
    }
    
    .owl-theme .owl-nav {
        margin-top: 0;
    }
    
    a.image-menu img {
        transition: transform .2s ease-in-out, filter 400ms ease;
    }
    
    a.image-menu img:hover {
        transform: scale(1.01);
        filter: grayscale(100%);
    }
    
    .cards {
        width: 60%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
    }
    
    .cards .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        margin: 3em 0;
        min-height: 1rem;
    }
    
    .cards .card section.left-card {
        width: 100%;
    }
    
    .cards .card section.left-card>img {
        width: 100%;
    }
    
    .cards .card section.right-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: white
    }
    
    .cards .card section.right-card h1 {
        margin: 0;
        font-size: 3.5rem;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        text-align: center;
    }
    
    .cards .card section.right-card p {
        font-size: 2rem;
        margin: 0.4em;
        width: 100%;
        min-height: 1.5rem;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        margin: 0.5em 0em;
        width: 100%;
    }
    
    .cards .card section.right-card h2 {
        font-size: 3rem;
        margin: 0.4em;
    }
    
    .cards .card section.right-card button {
        width: 100%;
        font-size: 2rem;
        background: linear-gradient(to bottom, var(--header-buttons) 50%, var(--red-landing) 50%);
        background-size: 100% 200%;
        background-position: 100% 100%;
        cursor: pointer;
        color: var(--white-main);
        padding: 0.6em;
        transition: background-position 400ms ease;
    }
    
    .cards .card section.right-card button:hover {
        background-position: 100% 200%;
    }
    
    .container main {
        background: url("../Images/Background/MenuBackground.png");
        background-size: 500px;
        background-position: 100% 50%;
        background-color: #ececec;
        background-repeat: no-repeat;
    }
    
    .container main .cards-container h1 {
        margin: 0 auto;
        font-size: 4rem;
        width: 60%;
    }
    
    @media screen and (max-width:1400px) {
        .cards .card section.right-card h1 {
            font-size: 3rem;
        }
        .cards .card section.right-card p {
            font-size: 1.8rem;
        }
        .cards .card section.right-card h2 {
            font-size: 2.5rem;
        }
    }
    
    @media screen and (max-width:850px) {
        .container main {
            background: none;
        }
        .cards .card section.right-card h1 {
            font-size: 2.6rem;
        }
        .cards .card section.right-card p {
            font-size: 1.5rem;
        }
        .cards .card section.right-card h2 {
            font-size: 2rem;
        }
    }
    
    @media screen and (max-width:900px) {
        .cards .card section.right-card button {
            font-size: 1.8rem;
        }
    }
    
    @media screen and (max-width:600px) {
        .container main .cards {
            flex-flow: column wrap;
        }
        .container main .cards .card {
            width: 100%;
        }
        .owl-carousel .owl-nav button.owl-next,
        .owl-carousel .owl-nav button.owl-prev {
            font-size: 4rem;
            margin: 0.4em;
            width: 30%;
            background: var(--red-landing);
            color: var(--white-main)
        }
        .owl-carousel .owl-nav button.owl-next:hover,
        .owl-carousel .owl-nav button.owl-prev:hover {
            background: var(--header-buttons);
            transform: scale(1.0);
            color: var(--white-main);
        }
        main .cards-container h1 {
            font-size: 2.5rem;
            margin: 1em auto;
            margin-bottom: 0;
        }
    }