@model IEnumerable<DishModel>

<div class="cards-container second">
    <h1>Mejores rolls</h1>

    <div class="cards">
        @foreach (var dish in Model)
        {
            <partial name="_dishcard" model="dish" />
        }
    </div>

</div>