@{
    ViewData["Title"] = "Confirm Email";
}
@model EmailConfirmModel
@section Style{
    <link rel="stylesheet" href="/Stylesheets/confirmation.css">
}

<main>
    @if (Model.EmailVerified == true)
    {
        <div class="confirmation-box">
            <h2><i class="fas fa-utensils"></i>Bienvenido, gracias por unirte a Nikkei <i class="fas fa-utensils"></i></h2>
            <h1>Tu registro ha sido completado</h1>
            <a asp-action="SignIn" asp-controller="Login" asp-route-returnUrl="/Nikkei">Haz click <span>aquí</span> para iniciar sesión</a>

        </div>

    }
    else
    {
        <div class="confirmation-box">
            <form asp-action="ConfirmationEmail">
                <input type="hidden" asp-for="Email">
                @if (Model.EmailSent)
                {
                    <h2>
                        Correo enviado a tu correo registrado.
                    </h2>
                }
                else
                {
                    <h2>
                        Hemos enviado un correo a @Model.Email
                    </h2>

                    <h4>Para terminar tu registro debes verificar tu correo</h4>

                    <p>¿No recibiste el correo o lo borraste por accidente?</p>
                    <button type="submit">Reenviar correo</button>
                }

            </form>

        </div>
    }


</main>
